.body__container {
    margin-bottom: 0.5em;
    span {
        margin-right: 0.5em;
    }
    background-color: rgb(101, 175, 209);
    padding: 1em;
    border-radius: 0.1em;
}

.body__message {
    text-align: center;
    color: white;
}