.header__container {
    margin-bottom: 0.5em;
    span {
        margin-right: 0.2em;
    }
}

.header__user-tag {
}

.header__user-id {
    font-style: italic;
    font-size: 0.8em;
    color: grey;
}

.header__date {
    margin-left: 0.5em;
    float: right;
    font-size: 0.8em;
    color: grey;
}
